.DS_Store
references/


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/


# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

data/*
!data/output/
data/output/*
!data/output/mturkTask1And2.csv
!data/output/mturkTask3.csv

.Rproj.user
